@charset "UTF-8";

/* Primary resets */
body {
    margin: 0px;
}   

h1 {
    margin: 0px;
}
/*///////////////////////////////////*/
div.head-main {
    position: absolute;
    height: 100px;
    width: 100%;
    background-color: #ED254E;  
}
header {
    display: table;
    height: 50px;
    width: 60px;
    background-color: #0D80FF;
    color: #0DFF76;
    font-family: 'Major Mono Display', Helvetica, monospace, 'Montserrat', sans-serif, 'Open Sans', sans-serif, 'Poppins', sans-serif;
    margin-left: 50px;
    margin-top: 45px;
    text-align: center;
    box-shadow: 10px 10px 0px #0DFF76;
}
div.content-main {  
    top: 100px;
    height: 85%;
    width: 100%;
    background-color: #ffffff;
    position: absolute;
    z-index: -1; /* layer position under header*/
}

.p_main{
    padding-top: 100px;
    padding-left: 25px;
    padding-right: 25px;
    font-family: 'Montserrat', sans-serif;
}



