@charset "UTF-8";

/* Primary resets */
body {
    margin: 0px;
    background-color:  #0D80FF;
}   
h1 {
    margin: 0px;
}
/*///////////////////////////////////*/
div.head-main {
    height: 60px;
    width: 98%;
    background-color: #ffffff;
    margin-left: 1%;
    padding-top: 50px;
    margin-top: 15px;
}
header {
    display: table;
    height: 50px;
    width: 98%;
    background-color: #0D80FF;
    color: #0DFF76;
    font-family: 'Major Mono Display', Helvetica, monospace, 'Montserrat', sans-serif, 'Open Sans', sans-serif, 'Poppins', sans-serif;
    margin-left: 1%;
    text-align: center;
    box-shadow: 10px 10px 0px #0DFF76;
    box-align: center;
}
div.content-main {  
    height: 500px;
    width: 98%;
    background-color: #ffffff;
    margin-left: 1%;
    position: absolute;
    z-index: -1; /* layer position under header*/
}



