@charset "UTF-8";
body{margin:0px;padding:0px;}
h1{margin:0px;padding:0px;}

.container{
    margin: 5px;
    background-color: grey;
    height: 300px;
    display: flex;
    flex-direction: row; 
    /*colunas e linhas*/
    flex-wrap: nowrap; 
    /* quebra de linha */
    flex-flow: row nowrap; 
    /* flex-direction+flex-wrap */
    justify-content: flex-end;
    /* justificar conteudo, direita(end) e esquerda(start) */
}
.articles{
    height: 100px;
    margin: 5px;
    padding: 20px;
    width: 70px;
}
.article_01{
    background-color: palegreen;
}
.article_02{
    background-color: tomato;
}
.article_03{
    background-color: blueviolet;
}