@charset "UTF-8";
body{margin:0px;padding:0px;}
h1{margin:0px;padding:0px;}

.container{
    margin: 5px;
    background-color: grey;
    height: 780px;
    display: flex;
    
    flex-direction: row; 
    /*colunas e linhas*/
    /* row= linhas colum= colunas +reverse para inverter a ordem */
    flex-wrap: nowrap; 
    /* quebra de linha */
    flex-flow: row wrap; 
    /* flex-direction+flex-wrap */

    justify-content: stretch;
    /* justificar conteudo, direita(end) e esquerda(start) e outros como between e around *//* <<< ou alinhado horizontalmente */
    align-items: flex-start;
    /* justificar conteudo, cima(start) baixo(end) baseline(com base no conteudo interno */ /* <<< ou alinhado verticalmente */
    align-content: space-around;
    /* semelhane ao align ou justify com a diferença de alinhar os itens de forma agrupada */
 

}
.articles{
    margin: 5px;
    padding: 20px;
    width: 80px;
    height: 80px
}
.article_01{
    background-color: palegreen;
}
.article_02{
    background-color: tomato;
}
.article_03{
    background-color: blueviolet;
}